In [1]:
#compare two BO files
import pandas as pd
from datetime import date, datetime, timedelta

file_BO1 = "CA_Journalier_0101_0504.xlsx" #add Fichier BO/
data_BO1 = pd.read_excel(file_BO1)
file_BO2 = "CA_Journalier_0101_2903.xlsx"  #add Fichier BO/
data_BO2 = pd.read_excel(file_BO2)

C:\Users\ohoummi\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [2]:
result = data_BO1.set_index('Date').subtract(data_BO2.set_index('Date'), fill_value=0)
result

                     DTT  TPV  TV  Somme :
Date
2021-01-01 00:00:00    0  NaN   0        0
2021-01-02 00:00:00    0  0.0   0        0
2021-01-03 00:00:00    0  0.0   0        0
2021-01-04 00:00:00    0  0.0   0        0
2021-01-05 00:00:00    0  0.0   0        0
...                  ...  ...  ..      ...
2022-03-26 00:00:00    0  0.0   0        0
2022-03-27 00:00:00    0  0.0   0        0
2022-03-28 00:00:00    0  0.0   0        0
2022-03-29 00:00:00    0  0.0   0        0
Somme :                0  0.0   0        0

[454 rows x 4 columns]

In [3]:
result.to_excel('Ecart_BO_BO_0504.xlsx',index=True)